<h1>Here is the autograded result for <%= @week_name %> assignments, User <%= current_user.email %></h1><br>
<% if @unrecognized_files.any? %>
  <strong>Warning: Missing <%= @unrecognized_files.length %> Required File(s)</strong><br>
  Your submission seems to be missing the following files for <%= @week_name %> assignments: <br>
  <% @unrecognized_files.each do |f| %>
    <strong><%= f %></strong><br>
  <% end %><br>
<% else %>
  All required files present. <br>
<% end %>
<br><strong>Test Case Summary</strong><br><br>
<% @compiled_results.each do |r| %>
  ** <%= r[0] %> - Test Case <strong><%= r[1] %></strong> ** <br>
<% end %><br>
Passed <strong><%= @passed_test_cases %>/<%= @total_test_cases %> tests.</strong><br><br>
<strong>Autograder Feedback</strong><br>
<% if @result_array_disp.any? %>
  <% @result_array_disp.each do |row| %>
      <%= row %><br>
  <% end %>
<% end %>
