
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
    <title>Main | ICSBC Summer 2019</title>
    <meta charset="UTF-8">
    <meta name="description" content="Intro to CS Bootcamp">
    <meta name="keywords" content="ICSBC, Bootcamp, Intro to CS, ICS, Programming in Ruby, Berkeley, EECS">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <%= stylesheet_link_tag asset_path("common.css" ) %>
    <%= stylesheet_link_tag asset_path("index.css" ) %>
    <%= stylesheet_link_tag asset_path("font-awesome.min.css" ) %>
    <%= stylesheet_link_tag asset_path("sunburst.css" ) %>
    <%= stylesheet_link_tag asset_path("fullcalendar.min.css" ) %>
    <%= stylesheet_link_tag asset_path("calendar.css" ) %>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="navbar" class="navbar-top navitems">
        <a href="/">
            <div class="navitem">Main</div>
        </a>
        <a href="course_info">
            <div class="navitem">Course Info</div>
        </a>
        <a href="staffsummary">
            <div class="navitem">Staff</div>
        </a>
        <a href="scores">
            <div class="navitem">Scores</div>
        </a>
        <a href="resources">
            <div class="navitem">Resources</div>
        </a>
    </div>
    <a href="/">
        <div id="coursename">
            <span id="courseid">Intro to CS Bootcamp</span>
        </div>
    </a>
    <div id="courseinfo">
        Summer 2019 <br>
        Assignments: Weekly
    </div>
    <div id="content">
        <div class="segment">
            <div class="segmenttitle">
                Announcements
            </div>
            <table id="announcements">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Announcement</th>
                    </tr>
                </thead>
                </tr>
                    <td>7/1</td>
                    <td>Announcement</td>
                    <td>Welcome to ICSBC! Please take a look around the website to get familiar with the course structure.
                        We will be mainly communicating via `announcement` channel on Slack so please keep an eye out! <br><br>
                        For each week, we recommend to follow the workflow below: <br> 
                        &nbsp; &nbsp;   1. Read the assigned chapters for our textbook, LTP (<i> Learn to Program </i>) <br>
                        &nbsp; &nbsp;   2. Work on the lab <br>
                        &nbsp; &nbsp;   3. Work on the homework - Please read the <a href="resources#ruby-style-guide">Ruby Style Guide</a> under "Resources" before coding!<br>
                        &nbsp; &nbsp;   4. (Optional) Read the optional reading, other textbook, documentations, etc. we provide <br><br>
                        Please ask any questions you have along the way on Slack (or Google)! We are friendly people ;)
                    </td>
            </table>
        </div>

        <div class="segment">
            <div class="segmenttitle">Reference Texts</div>
            <ul>
                <li> LTP: <%= link_to "Learn To Program", asset_path("LRP.pdf", skip_pipeline: true), {:style => 'color:#f527a6', :class=>"css_class"} %> </li>
                <li> RBD: <a href="https://devdocs.io/ruby~2.5/" target="_blank"> <i> Ruby Official Documentation</i>
                    </a> </li>
                <li> PRB: <%= link_to "Programming in Ruby", asset_path("PRB.pdf", skip_pipeline: true), {:style => 'color:#f527a6', :class=>"css_class"} %> </li>
            </ul>
            <div class="segmenttitle">Class Calendar / Recommended Reading Schedule</div>
            <table id="calendar">
                <thead>
                    <tr>
                        <th>Week</th>
                        <th>Date</th>
                        <th>Reading</th>
                        <th>Topic</th>
                        <th>Optional Reading</th>
                        <th>Lab</th>
                        <th>Assignments</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Week 1 -->
                    <tr class="odd">
                        <td rowspan="3">1</td>
                        <td rowspan="3">7/1 - 7/7</td>
                        <td> LTP Ch1-2 </td>
                        <td> Setup, Basic Operations </td>
                        <td rowspan="3">
                            1. <%= link_to 'How Does a Program Work?', page_path('handling_user_inp_oup') %><br>
                            2. <%= link_to 'More Advanced String Processing Methods', page_path('more_advanced_string') %><br>
                        </td>
                        <td rowspan="3">
                            <%= link_to 'Lab 1', page_path('lab1') %><br>
                        </td>
                        <td rowspan="3"><a href="materials/hw/hw0/index.html" target="_blank">
                            <%= link_to 'HW 1: Getting to Know Ruby', page_path('hw1') %><br>
                            <p>(due 7/5)</p>
                    </tr>
                    <tr class="odd">
                        <td> LTP Ch3-4 </td>
                        <td> Strings, Variables, User Input </td>
                    </tr>
                    <tr class="odd">
                        <td>LTP Ch5-6</td>
                        <td> String Formatting, Miscellaneous Methods </td>
                    </tr>
                    <!-- Week 2 -->
                    <tr>
                        <td rowspan="2">2</td>
                        <td rowspan="2">7/8 - 7/14</td>
                        <td>LTP Ch7</td>
                        <td> Flow Control <%# <br> <a href="materials/lectures/lect3.pdf" target="_blank">[slides]</a> %> </td>

                        <td rowspan="2">
                            TBD
                            <!-- 3. <a href="#" target="_blank">Fun With Logic</a><br> -->
                            <!-- 4. <a href="#" target="_blank">A Detour on Logical Programming</a> -->
                        </td>
                        <td rowspan="2">
                            Lab 2 <br>
                            (due 7/12)
                            <!-- <a href="materials/lab/lab2/index.html" target="_blank">Lab 2</a> -->
                        </td>
                        <td rowspan="2">
                            HW 2 <br>
                            (due 7/12)
                            <!-- <a href="materials/hw/hw1/index.html" target="_blank">HW 2: Flow Control,
                                Arrays, Iterators</a><br>(due 7/12) -->
                        </td>
                    </tr>
                    <tr>
                        <td>LTP Ch8 </td>
                        <td> Arrays, Iterators <%# <br> <a href="materials/lectures/lect4.pdf" target="_blank">[slides]</a> %> </td>
                    </tr>
                    <!-- Week 3 -->
                    <tr class="odd">
                        <td rowspan="3">3</td>
                        <td rowspan="3">7/15 - 7/21</td>
                        <td>LTP Ch9.1-9.2</td>
                        <td> Methods, Parameters </td>
                        <td rowspan="3">
                            TBD
                            <!-- 5. <a href="#" target="_blank">Bits and Integers</a><br> -->
                            <!-- 6. <a href="#" target="_blank">More on the IRB</a> -->
                        </td>
                        <td rowspan="3">
                            Lab 3 <br> (due 7/19)
                            <!-- <a href="materials/lab/lab3/index.html" target="_blank">Lab 3</a> -->
                        </td>
                        <td rowspan="3">
                            HW 3 <br>
                            Challenge 1: Roman Numerals <br>
                            (due 7/19)
                            <!-- <a href="materials/hw/hw2/index.html" target="_blank">HW 3: More Interactive
                                Methods</a><br> 
                            <a href="materials/proj/proj1/index.html" target="_blank">Challenge 1: Roman Numerals</a><br>(due
                            7/19) -->
                        </td>
                    </tr>
                    <tr class="odd">
                        <td>LTP Ch9.3-9.4</td>
                        <td> Local Variables, Return Values <%# <br> <a href="materials/lectures/lect6.pdf" target="_blank">[slides]</a> %> </td>
                    </tr>
                    <tr class="odd">
                        <td>LTP Ch9.5</td>
                        <td> Manipulating Integers, Conversion <%# <br> <a href="materials/lectures/lect7.pdf" target="_blank">[slides]</a> %> </td>
                    </tr>
                    <!-- Week 4 -->
                    <tr>
                        <td rowspan="3">4</td>
                        <td rowspan="3"> 7/22 - 7/28 </td>
                        <td>LTP Ch10</td>
                        <td> Recursive Programming <%# <br> <a href="materials/lectures/lect8.pdf" target="_blank">[slides]</a> %> </td>

                        <td rowspan="3">
                            TBD
                            <!-- 7. <a href="#" target="_blank">Why sorting?</a><br> -->
                            <!-- 8. <a href="#" target="_blank">Iteration v.s. Recursion</a><br> -->
                            <!-- 9. <a href="#" target="_blank">Developing a Way to Test Your Codes</a><br> -->
                        </td>
                        <td rowspan="3">
                            Lab 4 <br> (due 7/26)
                            <!-- <a href="materials/lab/lab4/index.html" target="_blank">Lab 4</a> -->
                        </td>
                        <td rowspan="3">
                            HW 4: Recursion, Arrays <br>
                            Challenge 2: Binary Search <br>
                            (due 7/26)
                            <!-- <a href="materials/proj/proj1/index.html" target="_blank">HW 4: Recursion,
                                Arrays</a><br><a href="materials/hw/hw2/index.html" target="_blank">Challenge 2: Binary
                                Search</a><br>(due 7/26) -->
                        </td>
                    </tr>
                    <tr>
                        <td>LTP 72-75</td>
                        <td> Developing a Sorting Strategy <%# <br> <a href="materials/lectures/lect9.pdf" target="_blank">[slides]</a> %> </td>
                    </tr>
                    <tr>
                        <td>LTP 76-81</td>
                        <td> Shuffling, Random Numbers and Sequences <%# <br> <a href="materials/lectures/lect10.pdf"
                                target="_blank">[slides]</a> %> </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <P>

            <h2>Office Hour Schedule</h2>
                Below you can see the most recent Office Hour schedule for the course. During the office hours, you can
                reach out to course staff for help on any concept, homework question, CS in general, or any other
                concern you might have.
                <br><br>

            <center><iframe src="https://calendar.google.com/calendar/b/3/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=e98coursemanagement%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles"
                    style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe></center>

</body>

</html>
