
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
    <title>Main | ICSB Winter 2020</title>
    <meta charset="UTF-8">
    <meta name="description" content="Intro to CS Bootcamp">
    <meta name="keywords" content="ICSBC, Bootcamp, Intro to CS, ICS, Programming in Ruby, Berkeley, EECS">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <%= stylesheet_link_tag asset_path("common.css" ) %>
    <%= stylesheet_link_tag asset_path("index.css" ) %>
    <%= stylesheet_link_tag asset_path("font-awesome.min.css" ) %>
    <%= stylesheet_link_tag asset_path("sunburst.css" ) %>
    <%= stylesheet_link_tag asset_path("fullcalendar.min.css" ) %>
    <%= stylesheet_link_tag asset_path("calendar.css" ) %>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="navbar" class="navbar-top navitems">
        <a href="/">
            <div class="navitem">Main</div>
        </a>
        <a href="course_info">
            <div class="navitem">Course Info</div>
        </a>
        <a href="staffsummary">
            <div class="navitem">Staff</div>
        </a>
        <a href="resources">
            <div class="navitem">Resources</div>
        </a>
    </div>
    <a href="/">
        <div id="coursename">
            <span id="courseid">Intro to CS Bootcamp</span>
        </div>
    </a>
    <div id="courseinfo">
        Winter 2020 <br>
        Assignments: Weekly
    </div>
    <div id="content">
        <div class="segment">
            <div class="segmenttitle">
                Announcements
            </div>
            <table id="announcements">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Announcement</th>
                    </tr>
                </thead>
                </tr>
                <thead>
                    <td>12/21</td>
                    <td>Announcement</td>
                    <td>Welcome to Intro to CS Bootcamp! Please take a look around the website to get familiar with the course structure.
                      We will be mainly communicating via announcements on Piazza and the `announcement` channel on Slack so please keep an eye out! <br><br>
                      For each week, we recommend to follow the workflow below: <br>
                      &nbsp; &nbsp;   1. Read the assigned texts and make sure you understand all the concepts. <br>
                      &nbsp; &nbsp;   2. Work on the lab <br>
                      &nbsp; &nbsp;   3. Work on the homework - Please read the <a href="resources#ruby-style-guide">Ruby Style Guide</a> under "Resources" before coding!<br>
                      &nbsp; &nbsp;   4. (Optional) Read the optional reading, other textbook, documentations, etc. we provide <br><br>
                      Please ask any questions you have along the way on Slack (or Piazza)! We are friendly people ;) </td>
                </thead>
            </table>
        </div>

        <div class="segment">
            <div class="segmenttitle">Reference Texts</div>
            <ul>
                <li> LTP: <%= link_to "Learn To Program", asset_path("LRP.pdf", skip_pipeline: true), {:style => 'color:#f527a6', :class=>"css_class"} %> </li>
                <li> RBT: <%= link_to "Recursion with the Best TA's", href="https://docs.google.com/document/d/1S-k4GhBULn8WQKbD6q2E84y1Hb5d5OQoVE4FLWsVmwY/edit" %>
                  (Disclaimer: we do not actually claim to be the best TA's in the world) </li>
                <li> RBD: <a href="https://devdocs.io/ruby~2.5/" target="_blank"> <i> Ruby Official Documentation</i>
                    </a> </li>
                <li> PRB: <%= link_to "Programming in Ruby", asset_path("PRB.pdf", skip_pipeline: true), {:style => 'color:#f527a6', :class=>"css_class"} %> </li>
            </ul>

            <div class="segmenttitle">Class Calendar / Recommended Reading Schedule</div>
            <table id="calendar">
                <thead>
                    <tr>
                        <th>Week</th>
                        <th>Date</th>
                        <th>Reading</th>
                        <th>Topic</th>
                        <th>Optional Reading</th>
                        <th>Lab</th>
                        <th>Assignments</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Week 1 -->
                    <tr class="odd">
                        <td rowspan="3">1</td>
                        <td rowspan="3">12/23 - 12/29</td>
                      <td> <strong>Learning to Program</strong>: Chapters 2, 3, and 4 </td>
                        <td> Primitive Data Types (Numbers, Strings, Booleans, Nil)</td>
                        <td rowspan="3">
                            1. <%= link_to 'How Does a Program Work?', page_path('handling_user_inp_oup') %><br>
                            2. <%= link_to 'More Advanced String Processing Methods', page_path('more_advanced_string') %><br>
                        </td>
                        <td rowspan="3">
                            <%= link_to 'Lab 1', page_path('lab1') %><br> (due 12/29)
                        </td>
                        <td rowspan="3"><a href="materials/hw/hw0/index.html" target="_blank">
                            <%= link_to 'HW 1: Getting to Know Ruby', page_path('hw1') %><br>
                            <p>(due 12/29)</p>
                    </tr>
                    <tr class="odd">
                        <td>  <strong>Learning to Program</strong>: Chapters 5 and 6 </td>
                        <td> Control Flow and Boolean Logic </td>
                    </tr>
                    <tr class="odd">
                        <td> <strong>Learning to Program</strong>: Chapters 7 and 9 </td>
                        <td> Defining and Calling Methods</td>
                    </tr>
                    <!-- Week 2 -->
                    <tr class="even">
                        <td rowspan="4">2</td>
                        <td rowspan="4">12/30 - 1/3</td>
                      <td> <strong>Learning to Program</strong>: Chapter 7 </td>
                        <td> More on Flow Control and <strong>Iterate with a While Loop</strong></td>
                        <td rowspan="4">
                            3. <%= link_to 'Fun with Logic', page_path('optional_reading2') %><br>
                            4. <%= link_to 'A Detour on Logical Programming', page_path('logical_programming') %><br>
                        </td>
                        <td rowspan="4">
                            <strong>Lab 2</strong><br> (due 1/5)
                        </td>
                        <td rowspan="4">
                            <strong>Homework 2</strong><br>
                            <p>(due 1/5)</p>
                    </tr>
                    <tr class="even">
                        <td>  <strong>Learning to Program</strong>: Chapter 8</td>
                        <td> Arrays and Iterate with a For Loop </td>
                    </tr>
                    <tr class="even">
                        <td> Additional Reading </td>
                        <td> Linked Structure in Ruby </td>
                    </tr>
                    <tr class="even">
                        <td> <%= link_to "Understanding Hashes", "http://ruby-for-beginners.rubymonstas.org/built_in_classes/hashes.html", :target => "_blank" %> </td>
                        <td> Hashes and Key-Value Stores in Ruby </td>
                    </tr>
                    <!-- Week 3 (TO BE UPDATED)-->
<!--                    <tr class="odd">-->
<!--                        <td rowspan="1">3</td>-->
<!--                        <td rowspan="1">7/15 - 7/21</td>-->
<!--                        <td>LTP Ch9</td>-->
<!--                        <td> Writing Your Own Methods, Manipulating Integers </td>-->
<!--                        <td rowspan="1">-->
<!--                            5. <%#= link_to 'What\'s an Integer?', page_path('whats_integer') %><br>-->
<!--                            6. <%#= link_to 'Bits and Integers', page_path('bits_and_integers') %><br>-->
<!--                            7. <%#= link_to 'More on IRB', page_path('interactive_ruby') %><br>-->
<!--                        </td>-->
<!--                        <td rowspan="1">-->
<!--                            <%#= link_to 'Lab 3', page_path('lab3') %><br> (due 7/19)-->
<!--                        </td>-->
<!--                        <td rowspan="1">-->
<!--                            <%#= link_to 'HW 3: Writing Your Own Methods', page_path('hw3') %><br>-->
<!--                            (due 7/19)-->
                            <!-- <a href="materials/hw/hw2/index.html" target="_blank">HW 3: More Interactive
                                Methods</a><br>
                            <a href="materials/proj/proj1/index.html" target="_blank">Challenge 1: Roman Numerals</a><br>(due
                            7/19) -->
<!--                        </td>-->
<!--                    </tr>-->
                    <!-- Week 4 (TO BE UPDATED)-->
<!--                    <tr>-->
<!--                        <td rowspan="1">4</td>-->
<!--                        <td rowspan="1"> 7/22 - 7/28 </td>-->
<!--                        <td>RBT</td>-->
<!--                        <td> One Word: RECURSION </td>-->

<!--                        <td rowspan="1">-->
<!--                            8. <%#= link_to 'MORE Recursion (As If You Haven\'t Had Enough)', page_path('more_recursion') %><br>-->
<!--                            9. <%#= link_to 'Stacking the Recursion', page_path('stack') %><br>-->
<!--                            10. <%#= link_to 'All Hail Sorting, the Lightsaber of Programmers', page_path('sorting') %><br>-->
<!--                            11. <%#= link_to 'There is ABSOLUTELY a Lot to Learn in Chapter 10', page_path('chapter_10') %><br>-->
<!--                            12. <%#= link_to 'More on Sorting', page_path('more_on_sorting') %><br>-->
<!--                            13. <%#= link_to 'Iteration vs Recursion', page_path('iteration_recursion') %><br>-->
<!--                        </td>-->
<!--                        <td rowspan="1">-->
<!--                            <%#= link_to 'Lab 4', page_path('lab4') %><br> (due 7/26)-->
                            <!-- <a href="materials/lab/lab4/index.html" target="_blank">Lab 4</a> -->
<!--                        </td>-->
<!--                        <td rowspan="1">-->
<!--                            <%#= link_to 'HW 4: Recursive Methods', page_path('hw4') %><br>-->
<!--                            HW 4: Recursive Methods <br>-->
<!--                            (due 7/26)-->
<!--                        </td>-->
<!--                    </tr>-->
                </tbody>
            </table>
        </div>

        <P>

            <h2>Office Hour Schedule</h2>
                Below you can see the most recent Office Hour schedule for the course. During the office hours, you can
                reach out to course staff for help on any concept, homework question, CS in general, or any other
                concern you might have.
                <br><br>

            <center><iframe src="https://calendar.google.com/calendar/b/3/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=e98coursemanagement%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles"
                    style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe></center>

</body>

</html>
