<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
  <title>Main | ICSBC Summer 2019</title>
  <meta charset="UTF-8">
  <meta name="description" content="ICS: Introduction to CS Bootcamp in Ruby">
  <meta name="keywords" content="Eng98, Engineering, Eng, 98, Programming in Ruby, Berkeley, EECS">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <%= stylesheet_link_tag asset_path("custom.css"), skip_pipeline: true %>
  <%= stylesheet_link_tag asset_path("common.css"), skip_pipeline: true %>
  <%= stylesheet_link_tag asset_path("index.css", skip_pipeline: true) %>
  <%= stylesheet_link_tag asset_path("font-awesome.min.css", skip_pipeline: true) %>
  <%= stylesheet_link_tag asset_path("sunburst.css", skip_pipeline: true) %>
  <%= stylesheet_link_tag asset_path("fullcalendar.min.css", skip_pipeline: true) %>
  <%= stylesheet_link_tag asset_path("calendar.css", skip_pipeline: true) %>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <%= javascript_include_tag asset_path("runLoader.js", skip_pipeline: true) %>
  <%= javascript_include_tag asset_path("showFiles.js", skip_pipeline: true) %>
  <%= javascript_include_tag asset_path("checkFiles.js", skip_pipeline: true) %>
</head>

<body>
  <div id="navbar" class="navbar-top navitems">
    <a href="/">
      <div class="navitem">Main</div>
    </a>
    <a href="course_info">
      <div class="navitem">Course Info</div>
    </a>
    <a href="staffsummary">
      <div class="navitem">Staff</div>
    </a>
    <a href="scores">
      <div class="navitem">Scores</div>
    </a>
    <a href="#">
      <div class="navitem">Screencasts</div>
    </a>
    <a href="#">
      <div class="navitem">Resources</div>
    </a>
    <a href="#">
      <div class="navitem">Office Hours</div>
    </a>
  </div>
<a href="/">
  <div id="coursename">
    <span id="courseid">ICS:</span>
    Introduction to CS Bootcamp in Ruby
  </div>
</a>
  <div id="content">
    <div class="segment">
      <div>
          <div class="segmenttitle">
            Assignment Submission
          </div>
          <div>
            <% if current_user %>
              Signed in as <strong><%= current_user.name %></strong>!
              <%= link_to "Sign out", signout_path, id: "sign_out" %><br>
              <%= form_tag({:action => :import, :controller => "autograder"}, multipart: true, onsubmit: "showLoader();") do %>
                <label>Homework:  </label>
                <%= select_tag "week", options_for_select(['week1', 'week2', 'week3', 'week4']), class: "WeekSelect"%>
                <%= file_field_tag 'files[]', :multiple => true, class: "FileUpload" %>
                <label for='files_'>Upload Your Ruby Scripts</label>
                <% hidden_field_tag("current_user", current_user) %>
                <%= submit_tag "Submit Homework for Grading", class: "Submit" %>
              <% end %>
              <%= form_tag({:action => :import_lab, :controller => "autograder"}, multipart: true) do %>
                <label>Lab:  </label>
                <%= select_tag "labweek", options_for_select(['week1', 'week2', 'week3', 'week4']), class: "LabSelect"%>
                <%= file_field_tag 'labfile[]', :multiple => true, class: "LabUpload" %>
                <label for="labfile_">Upload Your Lab Submission Text File</label>
                <%= submit_tag "Submit Lab for Grading", class: "LabSubmit" %>
              <% end %>
              <% if flash[:notice] %>
                <div class="alert">
                  <br>
                  <strong><%= flash[:notice] %></strong><br>
                </div>
              <% end %>
                  <div id="week1" style="display: none;">
                    <div class="segment">
                    Here are the <strong>required files for week 1</strong>, you should submit at least <strong>1</strong> of the following files for the autograder: <br>
                    <ul>
                      <li id="age_in_seconds">age_in_seconds.rb</li>
                      <li id="author_age">author_age.rb</li>
                      <li id="hours_in_year">hours_in_year.rb</li>
                      <li id="minutes_in_decade">minutes_in_decade.rb</li>
                      <li id="bigger_better_favorite_number">bigger_better_favorite_number.rb</li>
                      <li id="full_name_greeting">full_name_greeting.rb</li>
                      <li id="angry_boss">angry_boss.rb</li>
                      <li id="table_of_contents">table_of_contents.rb</li>
                    </ul>
                    </div>
                  </div>
                  <div id="week2" style="display: none;">
                    <div class="segment">
                    Here are the <strong>required files for week 2</strong>, you should submit at least <strong>1</strong> of the following files for the autograder: <br>
                    <ul>
                      <li id="bob_99">99_bob.rb</li>
                      <li id="deaf_grandma">deaf_grandma.rb</li>
                      <li id="deaf_grandma_extended">deaf_grandma_extended.rb</li>
                      <li id="leap_year_counter">leap_year_counter.rb</li>
                      <li id="array_sort">array_sort.rb</li>
                      <li id="table_of_contents">table_of_contents.rb</li>
                    </ul>
                    </div>
                  </div>
                  <div id="week3" style="display: none;">
                    <div class="segment">
                    Here are the <strong>required files for week 3</strong>, you should submit at least <strong>1</strong> of the following files for the autograder: <br>
                    <ul>
                      <li id="ask">ask.rb</li>
                      <li id="old_roman_numerals">old_roman_numerals.rb</li>
                      <li id="new_roman_numerals">new_roman_numerals.rb</li>
                    </ul>
                    </div>
                  </div>
                  <div id="week4" style="display: none;">
                    <div class="segment">
                    Here are the <strong>required files for week 4</strong>, you should submit at least <strong>1</strong> of the following files for the autograder: <br>
                    <ul>
                      <li id="array_max">array_max.rb</li>
                      <li id="contains_char">contains_char.rb</li>
                      <li id="count_array">count_array.rb</li>
                      <li id="factorial">factorial.rb</li>
                      <li id="sum_of_digits">sum_of_digits.rb</li>
                    </ul>
                  </div>
                </div>
              <div class="segment"></div>
              <div id="loader" style="display: none"></div>
              <% if @user_score.any? %>
                <div class="segmenttitle">
                  View Scores for <%= @user_score[0].name %>
                <table id="scores" class="striped">
                  <thead>
                  <tr>
                    <th>Week</th>
                    <th>Assignment Type</th>
                    <th>Total Test Cases</th>
                    <th>Passed Test Cases</th>
                    <th>Correctness</th>
                    <th>Submitted At</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% i = 0 %>
                  <% @user_score.each do |score| %>
                    <% if i % 2 == 0 %>
                      <tr class="odd">
                        <td><%= score.week %></td>
                        <td><%= score.assignment %></td>
                        <td><%= score.total_test %></td>
                        <td><%= score.passed_test %></td>
                        <td><%= score.total_score %> %</td>
                        <td><%= score.updated_at %></td>
                      </tr>
                    <% else %>
                      <tr>
                        <td><%= score.week %></td>
                        <td><%= score.assignment %></td>
                        <td><%= score.total_test %></td>
                        <td><%= score.passed_test %></td>
                        <td><%= score.total_score %> %</td>
                        <td><%= score.updated_at %></td>
                      </tr>
                    <% end %>
                    <% i = i + 1 %>
                  <% end %>
                  </tbody>
                </table>
              <% else %>
                <h2>No submissions found for <strong><%= current_user.name %></strong></h2><br>
              <% end %>
              </div>
            <% else %>
              <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
            <% end %>
          </div>
        </div>
      </div>
  </div>

</body>

</html>
