<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
  <title>Main | ICSBC Summer 2019</title>
  <meta charset="UTF-8">
  <meta name="description" content="ICS: Introduction to CS Bootcamp in Ruby">
  <meta name="keywords" content="Intro to CS, CS, Programming in Ruby, Berkeley, EECS">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <%= stylesheet_link_tag asset_path("common.css", skip_pipeline: true) %>
  <%= stylesheet_link_tag asset_path("index.css", skip_pipeline: true) %>
  <%= stylesheet_link_tag asset_path("font-awesome.min.css", skip_pipeline: true) %>
  <%= stylesheet_link_tag asset_path("sunburst.css", skip_pipeline: true) %>
  <%= stylesheet_link_tag asset_path("fullcalendar.min.css", skip_pipeline: true) %>
  <%= stylesheet_link_tag asset_path("calendar.css", skip_pipeline: true) %>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>

<body>
<div id="navbar" class="navbar-top navitems">
  <a href="/">
    <div class="navitem">Main</div>
  </a>
  <a href="course_info">
    <div class="navitem">Course Info</div>
  </a>
  <a href="staff_summary">
    <div class="navitem">Staff</div>
  </a>
  <a href="scores">
    <div class="navitem">Scores</div>
  </a>
  <a href="#">
    <div class="navitem">Screencasts</div>
  </a>
  <a href="#">
    <div class="navitem">Resources</div>
  </a>
  <a href="#">
    <div class="navitem">Office Hours</div>
  </a>
</div>
<a href="index.html">
  <div id="coursename">
    <span id="courseid">ICS:</span>
    Introduction to CS Bootcamp in Ruby
  </div>
</a>

<div class="section-title">
  <h2> Meet our staff :)</h2>
</div>

<div id="content">
  <div class="segment"><div>
</div>

<div class="staff-page">
  <div class="staff-container">
    <div class="staff">
      <div class="staff-pic"> <%= image_tag("paul.jpg", size: "160x120", alt: "Paul Shao") %></div>
      <div class="staff-name"><h4>Paul Shao (Head TA)</h4></div>
      <a href="mailto:paulshaoyuqiao1@berkeley.edu">paulshaoyuqiao1@berkeley.edu</a><br>
      Regular Office Hours*: WTh 8-10pm <br>
      (please check main page for the up-to-date time) <br><br>
      <div class="bio">
        Hello everyone! I am Paul, an incoming third year majoring in EECS. Fun facts about me:
        <div class="ul-custom">
          <ul>
            <li> I once mistook glue for milk in kindergarten and was rushed to the ER. </li>
            <li> I crawled up the stairs on all four when I was hiking up the Mist Trail in Yosemite. </li>
            <li> I once composed a string symphony in less than 3 days. </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="staff-container">
    <div class="staff">
      <div class="staff-pic"><%= image_tag("catherine.jpg", size: "160x120", alt: "Catherine Hu") %></div>
      <div class="staff-name"><h4>Catherine Hu (TA, content)</h4></div>
      <a href="mailto:catherine.gobears@berkeley.edu">catherine.gobears@berkeley.edu</a><br>
      Regular Office Hours*: MTW 7-9pm <br> <br>
      <div class="bio">
        Hello friends! I'm Catherine, a rising junior in EECS. Here are some (fun) facts about me:
        <div class="ul-custom">
          <ul>
            <li> I love Pixar/Disney movies! My favorites are Coco and Coraline (spook~ 👻). </li>
            <li> I recently picked up magic from the Magic DeCal (you should take it). </li>
            <li> I used to do figure skating but now I'm not very flexible haha... :'( </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="staff-container">
    <div class="staff">
      <div class="staff-pic"><%= image_tag("tony.jpg", size: "160x120", alt: "Tony Tu") %></div>
      <div class="staff-name"><h4>Tony Tu (TA, content)</h4></div>
      <a href="mailto:tonytu16@berkeley.edu">tonytu16@berkeley.edu</a><br>
      Regular Office Hours*: MTF 4-6pm <br> <br>
      <div class="bio">
      Hi everyone, my name is Tony and I am an incoming third year EECS major. Some (fun) facts about me:
        <div class="ul-custom">
          <ul>
            <li> I'm from Vancouver, Canada. </li>
            <li> I have lived in five different cities. </li>
            <li> I enjoy playing guitar and saxophone. </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="note">
  [note] *: Please check the main page calendar for the most up-to-date OH time.
</div>
  </div>
</div>

</body>

</html>
