<html>
<head>
  <title>Main | ICSBC Summer 2019</title>
  <meta charset="UTF-8">
  <meta name="description" content="ICS: Introduction to CS Bootcamp in Ruby>
  <meta name="keywords" content="Intro to CS, CS, Programming in Ruby, Berkeley, EECS">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <%= stylesheet_link_tag asset_path("common.css" ) %>
  <%= stylesheet_link_tag asset_path("index.css" ) %>
  <%= stylesheet_link_tag asset_path("font-awesome.min.css" ) %>
  <%= stylesheet_link_tag asset_path("sunburst.css" ) %>
  <%= stylesheet_link_tag asset_path("fullcalendar.min.css" ) %>
  <%= stylesheet_link_tag asset_path("calendar.css" ) %>

  <%= stylesheet_link_tag asset_path("lab.css" ,skip_pipeline: true) %>

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <%= javascript_include_tag asset_path("script.js" ) %>
  <%= javascript_include_tag asset_path("cheet.min.js" ) %>

</head>

<body>

<div id="navbar" class="navbar-top navitems">
  <a href="/">
    <div class="navitem">Main</div>
  </a>
  <a href="/course_info">
    <div class="navitem">Course Info</div>
  </a>
  <a href="/staffsummary">
    <div class="navitem">Staff</div>
  </a>
  <a href="/scores">
    <div class="navitem">Scores</div>
  </a>
  <a href="resources">
    <div class="navitem">Resources</div>
  </a>
</div>

<div id="content-container" class="content-spacer">
  <main id="content">
    <header class="title">Homework 2: Flow Control, Arrays, and Iterators</header><ul id="markdown-toc">
    <li><a href="#instructions" id="markdown-toc-instructions">Instructions</a>
    <li><a href="#99-bottles" id="markdown-toc-99-bottles">Q1. 99 Bottles Of Beer On the Wall</a>
    </li>
    <li><a href="#deaf-grandma" id="markdown-toc-deaf-grandma">Q2. Deaf Grandma</a></li>
    <li><a href="#deaf-grandma-extended" id="markdown-toc-deaf-grandma-extended">Q3. Deaf Grandma Extended</a></li>
    <li><a href="#leap-year-counter" id="markdown-toc-leap-year-counter">Q4. Leap Year Counter</a></li>    <ul>
    </ul>
    </li>
    <li><a href="#array-sort" id="markdown-toc-array-sort">Q5. Array Sort</a></li>
    <li><a href="#table-of-contents" id="markdown-toc-table-of-contents">Q6. Table of Contents
    </a></li>
  </ul>


  <h2 id="instructions">Instructions</h2>

  <p>Download <%= link_to 'hw2.zip', '/hw/hw2.zip'%></p>

  <p><strong>Due Date:</strong> Homework 2 is due by 11:59 pm on Friday, 7/12</p>
  
  <p><strong>Submission:</strong> When you are done, you can submit your assingment under the SCORE tab on the course website</p>

  <h2 id="99-bottles">Q1. 99 Bottles Of Beer On the Wall</h2>

  <p><b>Requirements:</b></p>
  <ul>
    <li> Write a program that prints out the lyrics to the classic, “99 Bottles of Beer on the Wall.” </li>
    <li> Here’s a handy <a href="http://www.99-bottles-of-beer.net/lyrics.html">reference</a>. It must look like this. That means an exact match in the lyrics, and also formatted in the same way with lines in between.</li>
  </ul>
  <br>
  <p><b> Clarifications/Advice: </b></p>
  <ul>
    <li> Main thing to look out for here is that the lyrics change when you get to one or zero bottles of beer left on the wall, so make sure you account for it! <br>
         And while we're here, what have we learned about recently that lets you do a thing over and over with minor changes until some condition is met? <br>
    <li> Writing code that simply puts the entire thing in one go, that is, copy pasting the lyrics and adding puts to the start of each line, will get no credit. 
  </ul>

    <h2 id="deaf-grandma">Q2. Deaf Grandma</h2>
    <p><b>Requirements:</b></p>
  <ul>
    <li> Whatever you say to Grandma (whatever you type in), she should respond with this: "HUH?! SPEAK UP, SONNY!" </li>
    <li> unless you shout it (type in all capitals). If you shout, she can hear you (or at least she thinks so) and yells back: "NO, NOT SINCE 1938!"</li>
    <li> To make your program really believable, have Grandma shout a different year each time. This has been changed to a requirement, i.e. The year must be completely random (same probability for each year) from 1930 to 1950, inclusive.</li>
  </ul>
  <br>
  <p><b> Clarifications/Advice: </b></p>
  <ul>
    <li> Don’t forget about <mark><font size=3 color="blue">.chomp</font></mark>! 'BYE' with an <mark><font size=3 color="blue">Enter</font></mark> at the end is not the same as 'BYE' without one! </li>
    <li> Try to think about what parts of your program should happen over and over again. All of those should be in your while loop. </li>
    <li> People often ask, “How can I make rand give me a number in a range not starting at zero?” But you don’t need it to. Is there something you could do to the number rand returns to you? </li> 
  </ul>  



    <h2 id="deaf-grandma-extended">Q3. Deaf Grandma Extended</h2>

    <p><b>Requirements:</b></p>
    <ul>
      <li> What if Grandma doesn’t want you to leave? When you shout BYE, she could pretend not to hear you. Change your previous program so that you have to shout BYE three times in a row. </li>
      <li> Make sure to test your program: if you shout BYE three times but not in row, you should still be talking to Grandma.</li>
    </ul>
    <br>
    <p><b> Clarifications/Advice: </b></p>
    <ul>
      <li> It's an extension of the previous, so I'd recommend you copy over your previous code and modify it instead of starting over.</li>
      <li> <b>Important</b>: Main thing that trips people up is not making sure that the three "BYE"s are given in a row. A common mistake was to misinterpret it as exiting on "BYE BYE BYE", but that’s not quite right. For the program to exit you should have to type in "BYE" as your response three times, with Grandma pretending not to hear you the first two times, before giving up and saying goodbye on the third. </li> 
      <li> Make sure to test your program with ALL the sequences of replies Sony gives, and see if Grandma responds correctly! (Reminder: In the terminal, in this homework's directory, run <mark><font size=3 color="blue">ruby FILE_NAME.rb</font></mark> to run a program you wrote!) </li>
    </ul>  
    
    
    <h2 id="leap-year-counter">Q4. Leap Year Counter</h2>

    <p><b>Requirements:</b></p>
    <ul>
      <li> Write a program that asks for a starting year and an ending year and then puts all the leap years between them (and including them, if they are also leap years). Leap years are years divisible by 4 (like 1984 and 2004). 
      <li> However, years divisible by 100 are not leap years (such as 1800 and 1900) unless they are also divisible by 400 (such as 1600 and 2000, which were in fact leap years). What a mess!</li>
    </ul>
    <br>
    <p><b> Clarifications/Advice: </b></p>
    <ul>
      <li> Key for this one is keeping the conditions needed for a year to be a leap year in mind. It has to be divisible by 400, or divisible by 4 and not by 100. It’s easy to get mixed up, so double check by trying it out and comparing with this <a href="http://www.onlineconversion.com/leapyear.htm">site</a>. </li>
    </ul>  
    

    <h2 id="array-sort">Q5. Array Sort</h2>
    <p><b>Requirements:</b></p>
    <ul>
      <li> Write the program we talked about at the beginning of this chapter, one that asks us to type as many words as we want (one word per line, continuing until we just press Enter on an empty line) and then repeats the words back to us in alphabetical order. </li>
    </ul>
    <br>
    <p><b> Clarifications/Advice: </b></p>
    <ul>
      <li> Make sure to test your program thoroughly; for example, does hitting <mark><font size=3 color="blue">Enter</font></mark> on an empty line always exit your program? Even on the first line? And the second? </li>
      <li> There’s a lovely array method that will give you a sorted version of an array: <mark><font size=3 color="blue">.sort</font></mark>. Use it! </li>
    </ul>  
    

    <h2 id="table-of-contents">Q6. Table Of Contents</h2>

    <p><b>Requirements:</b></p>
    <ul>
      <li> Rewrite your table of contents program from chapter 6. Start the program with an array holding all of the information for your table of contents (chapter names, page numbers, and so on). Then print out the information from the array in a beautifully formatted table of contents.</li>
    </ul>
    <br>
    <p><b> Clarifications/Advice: </b></p>
    <ul>
      <li> Main thing is to actually use an array to store your strings, don’t just copy paste the old code. <b>You will get no credit if you don't use arrays.</b> </li>
      <li> A possible misinterpretation is to just literally store all the variables you'll need in an array like 
      <mark><font size=3 color="blue">stuff_i_will_need = ["Table of Contents", 1, "Getting Started", 1, 2, "Numbers", 9]</font></mark>. 
      But if you do that, you'll notice that it doesn't make the code any easier to write. Programmers don't usually just store a bunch of different stuff in an array just like that! 
      Instead, you'll have an array containing the first X, the second X, and so on. For example, <mark><font size=3 color="blue">chapter_names = ["Getting Started", "Numbers", "Letters"]</font></mark> 
      contains the first chapter name, the second name, etc. Or if you want to be clever, you can use a nested array: 
      <mark><font size=3 color="blue">chapters = [["Getting Started", 1], ["Numbers", 9], ["Letters", 13]]</font></mark>. 
      Either way, you'll now be able to do everything in an elegant loop (use the <mark><font size=3 color="blue">.each</font></mark> or <mark><font size=3 color="blue">.each_with_index</font></mark> 
      method -- google the latter). That's the beauty of arrays. </li>
    </ul>  
    

  </main>
</div>
</body>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"]]}
  });
</script>
<script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script>
    $("#markdown-toc").insertBefore("#content");
</script>
</html>