<html>
<head>
  <title>Main | ICSBC Winter 2020</title>
  <meta charset="UTF-8">
  <meta name="description" content="ICS: Introduction to CS Bootcamp in Ruby>
  <meta name="keywords" content="Intro to CS, CS, Programming in Ruby, Berkeley, EECS">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <%= stylesheet_link_tag asset_path("common.css" ) %>
  <%= stylesheet_link_tag asset_path("index.css" ) %>
  <%= stylesheet_link_tag asset_path("font-awesome.min.css" ) %>
  <%= stylesheet_link_tag asset_path("sunburst.css" ) %>
  <%= stylesheet_link_tag asset_path("fullcalendar.min.css" ) %>
  <%= stylesheet_link_tag asset_path("calendar.css" ) %>

  <%= stylesheet_link_tag asset_path("lab.css" ,skip_pipeline: true) %>

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <%= javascript_include_tag asset_path("script.js" ) %>
  <%= javascript_include_tag asset_path("cheet.min.js" ) %>

</head>

<body>

<div id="navbar" class="navbar-top navitems">
  <a href="/">
    <div class="navitem">Main</div>
  </a>
  <a href="/course_info">
    <div class="navitem">Course Info</div>
  </a>
  <a href="/staffsummary">
    <div class="navitem">Staff</div>
  </a>
  <a href="resources">
    <div class="navitem">Resources</div>
  </a>
</div>

<div id="content-container" class="content-spacer">
  <main id="content">
    <header class="title">Homework 3: Recursion and Object Oriented Programming</header>
    <ul id="markdown-toc">
      <li><font color="slateblue" size="3.5"><strong>NOTE: </strong>If the math expressions are not rendering correctly after you clicked on the link to go to the problem (you are seeing a lot of "$" signs around), <strong>refresh the webpage again</strong> and everything should be rendered correctly :)</font></li>
      <li><a href="#instructions" id="markdown-toc-instructions">Instructions</a>
      <li><a href="#merge" id="markdown-toc-merge">Q1. Merging Arrays</a>
      </li>
      <li><a href="#vote" id="markdown-toc-file">Q2. Ballot System</a></li>
    </ul>


    <h2 id="f-leap-year">Instructions</h2>

    <p>Download <%= link_to 'hw3.zip', '/hw/hw3.zip'%></p>

    <strong>Before submission, for the file <code>merge.rb</code>, please remove all other lines except the method itself to ensure the autograder is running correctly.</strong>

    <p><strong>Due Date:</strong> Homework 3 is due by 11:59 pm on Tuesday, 1/14</p>

    <p><strong>Submission:</strong> When you are done, you can submit your files to the corresponding assignment on Gradescope</p>

    <h2 id="merge">Q1. Merging Arrays</h2>
    <p>
      Given 2 already sorted arrays $A$ and $B$, we would like to merge those 2 arrays together into 1 sorted array, in a recursive way 🤔😃.
    </p>
    <p>Complete the following method that recursively merges 2 sorted arrays together into one sorted array. You should follow the provided recursive skeleton.</p>
    <pre class="prettyprint">
        def merge(a, b)
          if _______________________________
             return ________________________
          elsif _____________________________
             return ________________________
          else
             return ________________________
          end
        end
    </pre>

    <p>Here're some examples:</p>
    <ol>
      <li><code>merge([1, 4], [2, 3])</code> will return <code>[1, 2, 3, 4]</code></li>
      <li><code>merge([1, 2], [])</code> will return <code>[1, 2]</code></li>
      <li><code>merge([1, 2, 3], [2, 3, 4])</code> will return <code>[1, 2, 2, 3, 3, 4]</code></li>
    </ol>
    <h2 id="vote">Q2. Ballot System</h2>
    <p>
      You are again recruited as a software engineer because of your talent in coding! This time, the ones in need are the ASUC senators.
      They would like you to help them build a voter registration and ballot system so they can keep track of all the student voters for the next
      ASUC Senate race and protect the fairness and integrity of the election.
    </p>
    <p>
      You decided to build the registration system as a Ruby class. The class should have the following methods:
      <ul>
        <li><code>register(SID, name, vote)</code> registers a student with the corresponding SID (a string), the name (a string), and vote (a list of the senators' names the student is voting for).</li>
        <li><code>count()</code>returns the total number of students who have voted so far</li>
        <li><code>update_vote(SID, vote)</code> allows a student to update the list of voted senators. If the student has not registered yet, this method won't do anything.</li>
        <li><code>tally(name)</code>returns the total number of votes so far for the queried senator candidate "name"</li>
      </ul>
    </p>
    <p>Complete the following class so that the 4 methods described above will function properly. Feel free to add any additional helper method as you see fit.</p>
    <pre class="prettyprint">
      class Ballot
        def initialize() # Please don't add any parameters here
           # Add some codes here for the constructor of your class
        end

        def register(SID, name, vote) # Please don't add any parameters here
          # Add some codes here
          # registers a student with the corresponding SID (a string), the name (a string),
          # and vote (a list of the senators' names the student is voting for)
        end

        def count() # Please don't add any parameters here
          # Add some codes here
          # returns the total number of students who have voted so far
        end

        def update_vote(SID, vote) # Please don't add any parameters here
          # Add some codes here
          # allows a student to update the list of voted senators
          # If the student has not registered yet, this method won't do anything
        end

        def tally(name)
          # Add some codes here
          # returns the total number of votes so far for a particular candidate "name"
        end
      end
    </pre>
  </main>
</div>
</body>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"]]}
  });
</script>
<script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<script>
    $("#markdown-toc").insertBefore("#content");
</script>
</html>